In [26]:
>>> import datetime as dt
>>> start_time = dt.datetime.now()
print("오늘의 날짜 : {}년 {}월 {}일".format(start_time.year, start_time.month, start_time.day))
if start_time.hour <= 12:
    print("현재시간 : 오전 {}시 {}분 {}초".format(start_time.hour, start_time.minute, start_time.second))
else:
    print("현재시간 : 오후", start_time.hour-12 ,"시 {}분 {}초".format(start_time.minute, start_time.second))

오늘의 날짜 : 2022년 10월 13일
현재시간 : 오후 2 시 48분 9초

In [29]:
import datetime as dt
today = dt.datetime.today()
print("오늘은 {}년 {}월 {}일입니다".format(today.year,today.month,today.day))
x_mas = dt.datetime(2025,12,25)
n = x_mas - dt.datetime.now()
print("{}년 크리스마스 까지는 {}일 {}시간 남았습니다.".format(x_mas.year,n.days,n.seconds//3600))

오늘은 2022년 10월 13일입니다
2025년 크리스마스 까지는 1168일 9시간 남았습니다.

In [30]:
import datetime as dt
today = dt.datetime.today()
print("오늘은 {}년 {}월 {}일입니다".format(today.year,today.month,today.day))
new_year = dt.datetime(2036,1,1)
n = new_year - dt.datetime.now()
print("{}년 새해 까지는 {}일 {}시간 남았습니다.".format(new_year.year,n.days,n.seconds//3600))

오늘은 2022년 10월 13일입니다
2036년 새해 까지는 4827일 9시간 남았습니다.

In [32]:
import datetime as dt
today = dt.datetime.today()
print("오늘은 {}년 {}월 {}일입니다".format(today.year,today.month,today.day))
new_year = dt.datetime(2023,6,16)
n = new_year - dt.datetime.now()
print("{}년 생일 까지는 {}일 {}시간 남았습니다.".format(new_year.year,n.days,n.seconds//3600))

오늘은 2022년 10월 13일입니다
2023년 생일 까지는 245일 9시간 남았습니다.

In [34]:
import datetime as dt
now = dt.datetime.now()
n = dt.timedelta(days = 1000)
plus1000day = now + n
print(plus1000day)

2025-07-09 15:01:52.726621

In [40]:
a,b,c = map(int,input("처음으로 사귄 연도와 월, 일을 입력하시오 :").split())
n = dt.datetime(a,b,c)
q = dt.timedelta(days = 99)
p = n + q
print("100일 기념일은 : {}년 {}월 {}일입니다.".format(p.year,p.month,p.day))

처음으로 사귄 연도와 월, 일을 입력하시오 :2019 3 30
100일 기념일은 : 2019년 7월 7일입니다.

In [41]:
import datetime as dt
now = dt.datetime(2000,6,16)
n = dt.timedelta(days = 10000)
plus10000day = now + n
print(plus10000day)

2027-11-02 00:00:00

In [44]:
import time
seconds = time.time()
local_time = time.localtime(seconds)
print(time.strftime("%Y-%m-%d %H:%M:%S", local_time))

2022-10-13 15:38:50

In [58]:
import math
for i in range(2,11):
    print("{0: d}** {1:d} ={2:10.1f}".format(4,i,math.pow(4,i)))

 4** 2 =      16.0
 4** 3 =      64.0
 4** 4 =     256.0
 4** 5 =    1024.0
 4** 6 =    4096.0
 4** 7 =   16384.0
 4** 8 =   65536.0
 4** 9 =  262144.0
 4** 10 = 1048576.0

In [61]:
for i in range(0,181,10):
    print("{}degree = {:.3f}radian".format(i,math.radians(i)))

0degree = 0.000radian
10degree = 0.175radian
20degree = 0.349radian
30degree = 0.524radian
40degree = 0.698radian
50degree = 0.873radian
60degree = 1.047radian
70degree = 1.222radian
80degree = 1.396radian
90degree = 1.571radian
100degree = 1.745radian
110degree = 1.920radian
120degree = 2.094radian
130degree = 2.269radian
140degree = 2.443radian
150degree = 2.618radian
160degree = 2.793radian
170degree = 2.967radian
180degree = 3.142radian

In [68]:
for i in range(0,181,10):
    a = math.radians(i)
    print("sin({:3d}) = {:.2f}".format(i,math.sin(a)))

sin(  0) = 0.00
sin( 10) = 0.17
sin( 20) = 0.34
sin( 30) = 0.50
sin( 40) = 0.64
sin( 50) = 0.77
sin( 60) = 0.87
sin( 70) = 0.94
sin( 80) = 0.98
sin( 90) = 1.00
sin(100) = 0.98
sin(110) = 0.94
sin(120) = 0.87
sin(130) = 0.77
sin(140) = 0.64
sin(150) = 0.50
sin(160) = 0.34
sin(170) = 0.17
sin(180) = 0.00

In [115]:
import random as rd
while True:
    a = rd.randint(1,6)
    b = rd.randint(1,6)
    if a>b:
        print("a가 승리하였습니다")
        break
    elif b>a:
            print("b가 승리하였습니다")
            break
    else:
        print("무승부입니다.")

a가 승리하였습니다

In [120]:
list1 = []
for i in range(3):
    a = rd.randrange(0,101,5)
    list1.append(a)
print("0에서 100 이하의 정수 중에서 5의 배수")
list1

0에서 100 이하의 정수 중에서 5의 배수

[10, 75, 90]

In [122]:
list1 = []
for i in range(3):
    a = rd.randrange(0,11)
    list1.append(a)
rd.sample(list1,3)

[7, 2, 8]

In [124]:
list1 = []
for i in range(1,46):
    list1.append(i)
    rd.shuffle(list1)
list2 = []
for i in range(6):
    list2.append(list1[i])
list2.sort()
print(list2)

[5, 10, 23, 24, 29, 33]

In [126]:
print("이번 주의 추천 로또번호")
for i in range(5):
    list1 = list(range(1,46))
    list1 = rd.sample(list1,6)
    list1.sort()
    print(list1)

이번 주의 추천 로또번호
[9, 14, 18, 24, 30, 40]
[3, 4, 6, 20, 24, 25]
[8, 10, 19, 35, 36, 38]
[1, 15, 19, 22, 32, 36]
[11, 18, 20, 30, 33, 38]

In [133]:
print("이번 주의 당첨 로또번호 + 보너스")
list1 =[]
list2 =[]
for i in range(1,46):
    list1.append(i)
list2 = rd.sample(list1,6)
list2.sort()
while True:
    a = rd.sample(list1,1)
    if list2.count(a) == 0:
        print(list2 , "+",a)
        break
    else:
        a = rd.sample(list1,1)

이번 주의 당첨 로또번호 + 보너스
[4, 6, 15, 27, 29, 32] + [19]